<!doctype html>
<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.min.js"></script>
</head>

<body>
    <script type="text/ng-template" id="pages/home.html">
      <!-- <h1>Home</h1>-->
      <!-- <h3>{{message}}</h3>  -->
      <div class="container mycontainer">
          <div class="row">
          <div class="col-md-6">
              <h5>Profile form</h5>
            <form ng-submit="add()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" ng-model="user.email" required class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" ng-model="user.firstName" id="firstName" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" ng-model="user.lastName" id="lastName" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="displayName">Display Name</label>
                    <input type="text" class="form-control" ng-model="user.displayName" id="displayName" placeholder="Enter Display Name">
                </div>
                
                <div class="form-group">
                    <label for="description">Description of Meal Preference</label>
                    <textarea class="form-control" ng-model="user.description" id="description" rows="3" placeholder="Enter Description of Meal Preference"></textarea>
                </div>
                <div class="form-group">
                    <label for="department">Department</label>
                    <input type="text" class="form-control" ng-model="user.department" id="department" placeholder="Enter Department">
                </div>
                <div class="form-group">
                        <label for="team">Team</label>
                        <input type="text" class="form-control" ng-model="user.team" id="team" placeholder="Enter Team">
                    </div>
                <button type="submit" class="btn btn-primary">Add Profile</button>
            </form>
          </div>

          <div class="col-md-6">
              <h5>Profile List</h5>
              <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Cras justo odio
                      <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Dapibus ac facilisis in
                      <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Morbi leo risus
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                  </ul>
          </div>
        </div>
    </div>
    </script>

    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">MyApp</span>
    </nav>

    <div ng-view></div>



    <script src="app.js"></script>
</body>

</html>